
*{
    font-weight: bold;
}
.container{
   
    
    align-items:center;
   
    
}

.flex
{
   
   display: flex;
   flex-direction:row;
   
   justify-content: space-around;
  
  
}

div>section{

    
    padding: 10px;
    width: 150px;
    text-align: center;
    height: auto;
    
   
  
  
}

#reset
{
    background-color: hsl(328, 87%, 58%); 
    color: black;  
}

#rollButton2, #rollButton, #reset{
  
    
    font-size: xx-small;    
    padding: 8px;
    width: 80px;
    border: none;
    
}

#rollButton2, #rollButton {
background-color: green;
color: aliceblue;
}

p{
    
    color:forestgreen;
 
    text-align: center;

}

h2{
   
text-align:center;
}

